body {
  margin: 0;
  background-color: #f2f4f8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.navbarNav{
  width: 100%;
  overflow: hidden;
}

.navbarListItems{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem{

}

.inputActive{
  color:darkgrey
}

.inputDisabled{
  background-color: ghostwhite;
}
