@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto+Mono:wght@100;200;300;400;600;700&display=swap');


body {
  margin: 0;
  background-color: ghostwhite;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, p {
  color: #6b6b6b;
  font-family: Roboto Mono;
}

button {
  outline: none;
  border: none;
}

.primaryButton {
  cursor: pointer;
  background: #212121;
  border-radius: 15px;
  padding: 8px 15px;
  color: #bfbfbf;
  font-weight: 100;
  font-size: 12px;
  /* margin: 0 auto; */
  display: flex;
  align-self: start;
  margin-bottom: 9px;
}

.navbar{
  background-color: #212121;
  /* display: flex; */
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  height: 90px;
}

.navbarNav{
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
}

.navbarListItems{
  display: flex;
  flex-direction: row;
  color: #909090;
  list-style-type: none;
  padding-right: 25px;
}

.navbarListItems li {
  padding-right: 25px;
}

.navbarLogo {
  padding-left: 25px;
}

.navbarLink {
  display: contents;
  color: #6b6b6b;
} 

.navbarActive {
  color: #bfbfbf;
}
.navbarInactive {
  color: #6b6b6b;
}




/* listing item component */

.listingItem {
  list-style-type: none;
  display: flex;
  width: 225px;
  margin-right: 30px;
}

.listingItemImg {
  height: 200px;
  text-decoration: none;
}

.listingItemLink{
  display: contents;
  color: #000;
  font-size: 10px;
} 


/* landing page */

.landingUl {
  display: flex;
  flex-direction: row;
  width: 96vw;
  flex-wrap: wrap;
  justify-content: center;
}


/* Listing page */

.singleListing {
  display: flex;
  margin: 64px 0px 0px 64px;
}

.singleListingItems {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding-left: 45px;
}

.singleListingImg {
  height: 350px;
}


/* Profile page  */

.profileBody {
  margin-right: 35px;
  margin-left: 35px;
}

.profileForm {
  background-color: #6b6b6b;
  padding: 35px;
  margin-bottom: 65px;
}

.changeDetailsBtn {
  color: #212121;
}

.profileName {
  color: #bfbfbf;
}

.inputActive{
  color:darkgrey
}

.inputDisabled{
  background-color: ghostwhite;
}

.profileUl {
  display: flex;
  flex-direction: row;
  width: 96vw;
  flex-wrap: wrap;

}


@media screen and (max-width: 768px) {

  .navbar{
    background-color: #212121;
    flex-direction: row;
    height: 115px;
  }
  .navbarNav{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    /* justify-content: space-between; */
    align-items: center;
  }

  .navbarLogo {
    padding-left: 25px;
    width: 300px
  }

  .navbarListItems  {
    margin-top: 0px;
    margin-bottom: 0px;
  
  }
  .navbarListItems li {
    padding-right: 18px;
    padding-left: 18px;
  }

  .navbarListItems p {
    margin-top: 0px;
    margin-bottom: 0px;
    
  }
}